CompileFlags:
  Add:
    - --cuda-path=/nix/store/53ww4g3wf0y5vxwmypw04q1a0h83qjfd-cuda-merged-12.4
    - -LC:/nix/store/53ww4g3wf0y5vxwmypw04q1a0h83qjfd-cuda-merged-12.4/lib
    - -IC:/nix/store/53ww4g3wf0y5vxwmypw04q1a0h83qjfd-cuda-merged-12.4/include
    - -IC:artlib-cuda/src/cuda/vendor/
